@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root{
--primar-color:#fff;
--unique-font:  'Russo One', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* utility */

.container{
    max-width: 1200px;
     width: 90%;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

.flex{
  display: flex;
  align-items: center;
  
}




body{
 line-height: 1;
 font-family: 'Roboto', sans-serif;
 background-image: url(./img/background-image.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--primar-color);
  overflow-x: hidden;
  height: 100vh;
}


/* main */

.weather-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
     margin: 90px 0px 0px 0px;
   
   }

   .weather-info >*+*{
      margin-top: 20px;
   }
   /* weather animation */
 
   .animateCurrent{
    animation: from-left 400ms ease-in;
   }
   
   @keyframes from-left{
      0%{
       
          transform: translateX(-50%);
      }
      100%{
       
        transform: translateX(0%);
      }
   }
   
     
   .flex-desc >*+*{
    margin-left: 1rem;
   }
   
   .head-info h2{
    font-size: 28px;
   }
   .head-info h1{
    font-size: 70px;
   }

 /*   <!-- weather description  */


   .weather-desc >*+*{
    margin-left: 23px;
   }

    
  #kelvin{
     font-family: var(--unique-font);
     font-size: 6rem;
  }

  .underline{
    height: 8rem;
    border-radius: 3px;
    width: 3px;
    background-color: rgb(216, 210, 210);
  }

  #weather-options{
     display: flex;
     flex-direction: column;
  }

  #weather-options > *+*{
    margin-top: 1rem;
  }
  /*    <!-- weather input --> */

  

  .weather-input input{
   padding: 0.92rem;
    border: none;
    outline: none;
    width: 80%;
    max-width: 290px;
  }

  #btn{
    background-color: black;
    width: 45px;
    padding: 5px;
    cursor: pointer;
  }


 /* days of the week */

 .forcast{
  padding:60px 0px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
   align-items: center;
 }






 .day{
  max-width:300px;
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: rgba(83, 81, 81, 0.37);
  padding: 30px;
  border-radius: 20px;
  color: rgb(209, 201, 201);
  font-weight: bold;
  text-align: left;
  cursor: pointer;
  transition:all 400ms ease-in-out;
  opacity: 0;
  transform: translateX(-50%);
  margin:20px;
 }

 .day.fade{
  opacity:1;
  transform:translateX(0%) ;
 }



 .day > *+*{
  margin-top: 10px;
 }

 .day:hover{
    transform: scale(1.1);
 }

 .forcast-desc{
  font-size: 1.2rem;
  color: rgb(209, 201, 201);
 }

 .forcast-temp{
  font-size: 1.2rem;
 }

 #date{
  font-size: 2rem;
 }

 /* mobile view */

 @media screen and (max-width: 480px) {


  .head-info h1 {
    font-size: 40px;
  }

  .underline{
    display: none;
  }

  .weather-desc >*+*{
    margin-left: 0px;
    margin-top: 1rem;
   }

 .weather-desc {
  align-items: flex-start;
  flex-direction: column;
  }



  #kelvin{
      font-size: 3rem;
  }


}


